.page.theme_dark {
  --title-color: var(--color-pink);
  --item-text: var(--color-neon);
  --color-background: var(--color-neon);
  --text-color: var(--color-black);
  --text-color-p: var(--color-light-pink);
  --accent-color: var(--color-neon);
  --outline: var(--outline-pink);
}

@media (prefers-color-scheme: dark) {
  .page {
    --title-color: var(--color-pink);
    --item-text: var(--color-neon);
    --color-background: var(--color-neon);
    --text-color: var(--color-black);
    --text-color-p: var(--color-light-pink);
    --accent-color: var(--color-neon);
    --outline: var(--outline-pink);
  }
}
