/* стили для светлой темы  */
.page.theme_light {
  --h1: var(--color-pink-200);

  --text-color-p: var(--color-grey);
  --color-background: var(--color-medium-pink);
  --text-color: var(--color-grey);
  --accent-color: var(--color-grey);
  --outline: var(--outline-black);
  --item-text: var(--color-grey);
  background-image: url(/images/cover-image-light.png);
}

.page.theme_light .decor::before {
  display: none;
}
.page.theme_light .decor {
  color: transparent;
}

@media (prefers-color-scheme: light) {
  .page.theme_light {
    --h1: var(--color-pink-200);

    --text-color-p: var(--color-grey);
    --color-background: var(--color-medium-pink);
    --text-color: var(--color-grey);
    --accent-color: var(--color-grey);
    --outline: var(--outline-black);
    --item-text: var(--color-grey);
    background-image: url(/images/cover-image-light.png);
  }

  .page.theme_light .decor::before {
    display: none;
  }
  .page.theme_light .decor {
    color: transparent;
  }
}
