/* стили для светлой темы  */
.page.theme_light {
  --title-color: var(--color-cute-pink);

  --text-color-p: var(--color-grey);
  --color-background: var(--color-medium-pink);
  --text-color: var(--color-grey);
  --accent-color: var(--color-grey);
  --outline: var(--outline-black);
  --item-text: var(--color-grey);
  background-image: url(../images/cover-image-light.png);
}

.page.theme_light .decor {
  display: none;
}

@media (prefers-color-scheme: light) {
  .page {
    --title-color: var(--color-cute-pink);
    --text-color-p: var(--color-grey);
    --color-background: var(--color-medium-pink);
    --text-color: var(--color-grey);
    --accent-color: var(--color-grey);
    --outline: var(--outline-black);
    --item-text: var(--color-grey);
    background-image: url(../images/cover-image-light.png);
  }

  .page .decor {
    display: none;
  }
}
