/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: url(../images/cover-image-dark.png);
  background-attachment: fixed;
  font-size: 18px;
  line-height: 23.4px;
  overflow: auto;
  background-size: cover;
}

.page p {
  color: var(--text-color-p);
}
.decorated-zone::before {
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
  position: absolute;
  content: "";
  right: var(--margin);
  top: var(--margin);
}
.decorated-zone::after {
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  position: absolute;
  content: "";
  left: var(--margin);
  bottom: var(--margin);
}
.decor {
  position: absolute;
  text-transform: uppercase;
  color: var(--accent-color);
  right: 48px;
  top: var(--margin);
}
.decor::before {
  width: 9px;
  height: 9px;
  box-shadow: 0px 0px 4px 2px #ff0070;
  position: absolute;
  border-radius: 50%;
  content: "";
  background: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  left: 43px;
  top: calc(var(--margin) - 13px);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--margin-min);
  color: var(--accent-color);
}
.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}
.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  padding: 1.5px 13px;
}
.header__theme-menu-button:hover {
  outline: 1px solid var(--outline);
}
.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
  outline: none;
}
.header {
  height: 100vh;
  padding-top: var(--margin);
  min-height: 668px;
  /* margin-bottom: 60px; */
}
.intro {
  display: flex;
  max-width: 100%;
  height: 100%;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

.title,
.footer-title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--color-background);
}

.subtitle {
  width: calc(50% - var(--margin));
  margin-right: var(--margin);
  align-self: flex-end;
  position: relative;
  top: 15%;
}
/*------------тут как выглядит текст и ссылька-------  */
.text-primary {
  color: var(--text-color);
}

.text-title {
  font-weight: 700;
}
.text-background {
  background-color: var(--color-background);
}
.text-regular {
  font-weight: 400;
}

.text-heading {
  color: var(--item-text);
}
.link {
  text-shadow: 2px 2px 0 var(--color-background);
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.link:focus,
.header__theme-menu-button:focus {
  outline: none;
}
.link:focus-visible {
  outline: 1px solid var(--text-color-p);
}
/* ------------------- */
.content {
  margin-top: 60px;
  margin-bottom: 60px;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 24px;

  margin-left: var(--margin);
  margin-right: var(--margin);
}
.container:not(:last-child) {
  margin-bottom: 80px;
}
.item {
  max-width: 649px;
  gap: var(--margin-min);
  display: flex;
  flex-direction: column;
}
.item-head {
  margin-bottom: var(--margin-min);
}
.item:not(:last-of-type) {
  margin-bottom: var(--margin-max);
}
.text-item {
  width: 31.7%;
  left: 0;
  align-self: start;
  position: relative;
  display: inline-flex;
}
.container_column {
  display: flex;
  flex-direction: column;
  gap: var(--margin);
}
.column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--margin-max);
}

.collage {
  display: grid;

  gap: 20px;
  grid-template-areas:
    "sunset sunset ice-cream"
    "tape book ice-cream"
    "tape street street";
}
.collage__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.collage__item-wrapper {
  margin: 0;
}
.collage__item-wrapper_type_sunset {
  grid-area: sunset;
}
.collage__item-wrapper_type_ice-cream {
  grid-area: ice-cream;
}
.collage__item-wrapper_type_tape {
  grid-area: tape;
}
.collage__item-wrapper_type_book {
  grid-area: book;
}
.collage__item-wrapper_type_street {
  grid-area: street;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 668px;
  height: 100vh;
}

/* размеры для екранов  раз*/
@media (width <= 768px) {
  .header {
    padding-top: 192px;
  }
  .intro {
    justify-content: initial;
  }
  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: var(--margin);
  }
  .title {
    margin-top: 23%;
  }

  .subtitle {
    top: 19%;
  }
  .column {
    grid-template-columns: initial;
  }
  .item {
    max-width: 100%;
  }

  .column .item {
    margin-bottom: 0;
  }
  .text-heading {
    flex-shrink: 0;
  }
}
/* два */
@media (width <= 560px) {
  :root {
    --margin: var(--margin-min);
  }
  .header {
    padding-top: 75px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-left: var(--margin);
    margin-top: 18%;
  }
  .text-item {
    width: 100%;
  }

  .subtitle {
    width: initial;
    margin-left: var(--margin);
    margin-right: var(--margin);
    top: 9%;
  }
  .content {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .column {
    grid-template-columns: initial;
  }
  .item {
    max-width: 100%;
  }
  .container {
    flex-direction: column;
    gap: 20px;
  }

  .container:not(:last-child) {
    margin-bottom: 50px;
  }

  .container_column {
    gap: var(--margin-max);
  }

  .container-gallery {
    gap: var(--margin);
  }
  .collage {
    display: flex;
    flex-direction: column;
  }

  .collage {
    gap: var(--margin);
  }
}
